<head>
  {% if page.title %}
    <title>{{ page.title }} | Test Page</title>
    <meta property="og:title" content="{{ page.title }} | Test Page">
  {% else %}
    <title>Test Page: Don't Panic</title>
    <meta property="og:title" content="Test Page: Don't Panic">
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is a dangerous site.">
    <meta property="og:description" content="This is a dangerous site.">
  {% endif %}
  <!-- To add meta content (SEO), see the meta file: {% include meta.html %} -->
  <!-- There seems to be a slight problem with the favicon, when you open Dev Tools, check: -->
  <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ '/fonts/fontawesome-free-5.15.3-web/css/all.min.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/reset.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}">

  <!-- The script for Google Analytics goes here. If you use a TON of custom
  analytics, the code might even go to the bottom, right above </body>. -->

  <script type="text/javascript" src="/js/gallery.js"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      activateGallery();
    });
  </script>
</head>
